@use "../utils" as *;

@import "header";
@import "navbar";
@import "footer";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $font-family-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .arrow {
    align-self: center;
    width: 100%;
    margin-top: 20px;
    font-size: rem(100);
    color: $main-color;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:active {
      color: $main-dark-color;
    }

    &:hover {
      color: $main-medium-color;
    }

    @media (min-width: map-get($breakpoints, "small")) {
      display: none;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;

    &__title {
      display: inline-flex;
      scroll-margin-top: 80px;
      h1 {
        font-family: $font-family-title;
      }
    }

    &--even {
      width: 100%;
      background-color: $main-color-background;
    }
  }

  .sobre-mi {
    &__content {
      max-width: 400px;
    }
  }

  .timeline {
    &__content {
      width: 100%;
      p {
        text-align: center;
      }
    }

    &__time {
      display: grid;
      grid-template-areas:
        "title title"
        "dot1 time-content"
        "dot2 time-content"
        "dot3 time-content";
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 0.3fr 1.3fr;
      grid-auto-flow: row;
      grid-row-gap: 16px;
      height: 200px;
    }

    &__time-title {
      display: flex;
      grid-area: title;
      width: fit-content;
      font-size: rem(30);
      color: $font-contrast-color;
      background-color: $main-medium-color;
      border-radius: 20px;
      span {
        padding: 0 10px;
      }
    }

    &__time-dot {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-color: $main-color;
      border-radius: 50%;
    }

    &__time-dot1 {
      grid-area: dot1;
    }

    &__time-dot2 {
      grid-area: dot2;
    }

    &__time-dot3 {
      grid-area: dot3;
    }

    &__time-content {
      display: flex;
      flex-direction: column;
      grid-area: time-content;
      gap: 10px;
      font-size: rem(20);
      span:first-child {
        font-weight: 600;
      }
    }

    @media (min-width: map-get($breakpoints, "small")) {
      &__content--even {
        grid-auto-flow: dense;
        direction: rtl;
        padding-right: 50%;
      }
      &__content--odd {
        padding-left: calc(50% - 25px);
      }
    }
  }

  .skills {
    &__content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-evenly;
      width: 100%;
    }

    &__tools {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 400px;
    }

    &__tool-container {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-evenly;

      .fa-star {
        font-size: rem(30);
        color: $main-color;
      }
      .fa-star:before {
        font: var(--fa-style-family, "Font Awesome 6 Free");
      }
    }

    &__icon svg {
      width: 45px;
    }

    &__slider {
      display: flex;
      gap: 20px;
      align-items: center;
      height: 35px;
    }

    &__slider-track {
      position: relative;
      width: 250px;
      height: 100%;
    }

    &__slider-fill,
    &__slider-back {
      position: absolute;
      height: 100%;
      border-radius: 15px;
    }

    &__slider-back {
      width: 100%;
      background-color: #d9d9d9;
    }

    &__slider-fill {
      width: 0;
      background-color: $main-color;
      transition: 2s ease-in-out;
    }

    @media (min-width: map-get($breakpoints, "small")) {
      &__content {
        flex-direction: row;
      }
    }
  }

  .portfolio {
    &__content {
      text-align: center;
    }

    &__modal {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 101;
      display: none;
      justify-content: center;
      width: 100%;
      height: 100%;
      overflow: auto;
      cursor: pointer;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);

      div {
        display: flex;
        align-self: center;
        justify-content: center;
        width: auto;
        height: auto;

        img {
          max-width: 100%;
          max-height: 90%;
        }
      }
    }

    &__gallery {
      display: grid;
      grid-auto-rows: 300px;
      gap: 1rem;

      @media all and (min-width: map-get($breakpoints, "small")) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media all and (min-width: map-get($breakpoints, "medium")) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media all and (min-width: map-get($breakpoints, "large")) {
        grid-template-columns: repeat(6, 1fr);
      }
    }

    &__item {
      cursor: pointer;
      background-color: transparent;
      border: none;

      &:nth-child(11n + 1) {
        grid-column: span 1;
      }
      &:nth-child(11n + 4) {
        grid-row: span 1;
        grid-column: span 2;
      }
      &:nth-child(11n + 6) {
        grid-row: span 1;
        grid-column: span 3;
      }
      &:nth-child(11n + 7) {
        grid-row: span 2;
        grid-column: span 1;
      }
      &:nth-child(11n + 8) {
        grid-row: span 2;
        grid-column: span 2;
      }
      &:nth-child(11n + 9) {
        grid-row: span 3;
      }
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .contacto {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input,
        textarea {
          width: 100%;
          font-size: rem(15);
        }
        label {
          position: absolute;
          padding: 0;
          margin: 0;
          visibility: hidden;
          border: 0;
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
    &__name {
      display: flex;
      gap: 30px;
      justify-content: space-between;
    }
    &__btn {
      align-self: center;
      max-width: fit-content;
      padding: 10px;
      font-size: rem(20);
      color: $font-contrast-color;
      cursor: pointer;
      background-color: $main-dark-color;
      border-radius: 20px;

      &:hover {
        background-color: $main-color;
      }

      &:active {
        color: $main-dark-color;
        background-color: $main-light-color;
      }
    }
  }
}
