@import "header";
@import "navbar";
@import "footer";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $font-family-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .arrow {
    font-size: 100px;
    color: $main-color;
    align-self: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;

    &:active {
      color: #273020;
    }

    &:hover {
      color: #819c6b;
    }

    @media (min-width: map-get($breakpoints, "small")) {
      display: none;
    }
  }

  .section {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {
      display: inline-flex;
      scroll-margin-top: 80px;
      h1 {
        font-family: $font-family-title;
      }
    }
  }

  .section--even {
    background-color: $main-color-background;
    width: 100%;
  }

  .timeline {
    &__content {
      width: 100%;
      p {
        text-align: center;
      }
    }

    &__time {
      height: 200px;
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 16px;
      grid-template-columns: 0.3fr 1.3fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "title title"
        "dot1 time-content"
        "dot2 time-content"
        "dot3 time-content";
    }

    &__time-title {
      grid-area: title;
      background-color: $main-color;
      color: #fff;
      width: fit-content;
      border-radius: 20px;
      font-size: 30px;
      display: flex;
      span {
        padding: 0 10px;
      }
    }

    &__time-dot {
      height: 25px;
      width: 25px;
      background-color: $main-color;
      border-radius: 50%;
      display: inline-block;
    }

    &__time-dot1 {
      grid-area: dot1;
    }

    &__time-dot2 {
      grid-area: dot2;
    }

    &__time-dot3 {
      grid-area: dot3;
    }

    &__time-content {
      display: flex;
      flex-direction: column;
      grid-area: time-content;
      font-size: 20px;
      gap: 10px;
      span:first-child {
        font-weight: 600;
      }
    }

    @media (min-width: map-get($breakpoints, "small")) {
      &__content--even {
        grid-auto-flow: dense;
        direction: rtl;
        padding-right: 50%;
      }
      &__content--odd {
        padding-left: calc(50% - 25px);
      }
    }
  }

  .skills {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      gap: 20px;
    }

    &__tools {
      gap: 20px;
      display: flex;
      flex-direction: column;
    }

    &__tool-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;
      .fa-star {
        font-size: 30px;
        color: $main-color;
      }
      .fa-star:before {
        font-family: "Font Awesome 6 Free";
      }
    }

    &__icon svg {
      width: 45px;
    }

    &__slider {
      display: flex;
      height: 35px;
      align-items: center;
      gap: 20px;
    }

    &__slider-track {
      width: 250px;
      height: 100%;
      position: relative;
    }

    &__slider-fill,
    &__slider-back {
      height: 100%;
      border-radius: 15px;
      position: absolute;
    }

    &__slider-back {
      width: 100%;
      background-color: #d9d9d9;
    }

    &__slider-fill {
      background-color: $main-color;
      transition: 2s ease-in-out;
      width: 0;
    }

    @media (min-width: map-get($breakpoints, "small")) {
      &__content {
        flex-direction: row;
      }
    }
  }

  .portfolio {
    &__content {
      text-align: center;
    }
  }

  .grid-gallery {
    display: grid;
    grid-auto-rows: 300px;
    gap: 1rem;

    @media all and (min-width: map-get($breakpoints, "small")) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media all and (min-width: map-get($breakpoints, "medium")) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media all and (min-width: map-get($breakpoints, "large")) {
      grid-template-columns: repeat(6, 1fr);
    }
    &__item {
      &:nth-child(11n + 1) {
        grid-column: span 1;
      }
      &:nth-child(11n + 4) {
        grid-column: span 2;
        grid-row: span 1;
      }
      &:nth-child(11n + 6) {
        grid-column: span 3;
        grid-row: span 1;
      }
      &:nth-child(11n + 7) {
        grid-column: span 1;
        grid-row: span 2;
      }
      &:nth-child(11n + 8) {
        grid-column: span 2;
        grid-row: span 2;
      }
      &:nth-child(11n + 9) {
        grid-row: span 3;
      }
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .contacto {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input,
        textarea {
          font-size: 15px;
          width: 100%;
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
    &__name {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
    &__btn {
      max-width: fit-content;
      align-self: center;
      font-size: 20px;
      background-color: #273020;
      color: #fff;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: #9dc183;
      }

      &:active {
        background-color: #c0eca0;
        color: #273020;
      }
    }
  }
}
