<header>
    <div class="header">
        <div class="header__drawing">
            <div class="header__name-container">
                <span class="header__name">Elena Martín</span>
                <span class="header__profession">Ilustradora freelance</span>
            </div>
            <picture>
                <source
                    media="(max-width: 480px)"
                    srcset="./assets/images/kelpie_mobile.png?as=webp"
                />
                <source
                    media="(min-width: 481px)"
                    srcset="./assets/images/kelpie.jpg?as=webp"
                />
                <img
                    data-src="./assets/images/kelpie.jpg?as=webp"
                    src="./assets/images/kelpie.jpg?as=webp"
                    type="image/webp"
                    title="Dibujo de caballo"
                    alt="Dibujo de caballo"
                    loading="lazy"
                    width="768"
                    height="auto"
                />
            </picture>
        </div>
        <div class="header__photo">
            <div class="header__profile-background">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="50" />
                </svg>
            </div>
            <div class="header__profile-photo">
                <picture>
                    <source
                        srcset="./assets/images/woman.jpg?as=webp&width=250"
                        type="image/webp"
                    />
                    <img
                        src="./assets/images/woman.jpg?width=250"
                        alt="Foto de perfil"
                    />
                </picture>
            </div>
        </div>
    </div>
    <div class="name-container">
        <div class="name-container__name">
            <div></div>
            <span>Elena Martín</span>
            <div></div>
        </div>
        <div class="name-container__profession">
            <span>Ilustradora freelance</span>
        </div>
    </div>
</header>
