<div class="nav-bar nav-bar--responsive" id="nav-bar">
    <button
        class="nav-bar__hamburguer"
        aria-label="Hamburguer sidenav"
        tabindex="0"
        sidebarjs-toggle
    >
        &#9776;
    </button>
    <div class="nav-bar__content" sidebarjs>
        <a
            class="nav-bar__close"
            href="javascript:void(0)"
            onclick="handleNavBar()"
            >&times;</a
        >
        <a href="#sobre-mi" onclick="handleNavBar()">Sobre mi</a>
        <a href="#timeline" onclick="handleNavBar()">Timeline</a>
        <a href="#habilidades" onclick="handleNavBar()">Habilidades</a>
        <a href="#portfolio" onclick="handleNavBar()">Portfolio</a>
        <a href="#contacto" onclick="handleNavBar()">Contacto</a>
    </div>
    <div class="nav-bar__overlay"></div>
</div>

<div class="nav-bar nav-bar--unresponsive">
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#timeline">Timeline</a>
    <a href="#habilidades">Habilidades</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contacto">Contacto</a>
</div>
