<div class="nav-bar nav-bar--responsive" id="nav-bar">
    <button
        class="nav-bar--responsive__hamburguer"
        aria-label="Hamburguer sidenav"
        tabindex="0"
        sidebarjs-toggle
    >
        &#9776;
    </button>
    <div class="nav-bar--responsive__content" sidebarjs>
        <a
            class="nav-bar--responsive__link"
            href="javascript:void(0)"
            onclick="handleNavBar()"
            >&times;</a
        >
        <a
            class="nav-bar--responsive__link"
            href="#sobre-mi"
            onclick="handleNavBar()"
            >Sobre mi</a
        >
        <a
            class="nav-bar--responsive__link"
            href="#timeline"
            onclick="handleNavBar()"
            >Timeline</a
        >
        <a
            class="nav-bar--responsive__link"
            href="#habilidades"
            onclick="handleNavBar()"
            >Habilidades</a
        >
        <a
            class="nav-bar--responsive__link"
            href="#portfolio"
            onclick="handleNavBar()"
            >Portfolio</a
        >
        <a
            class="nav-bar--responsive__link"
            href="#contacto"
            onclick="handleNavBar()"
            >Contacto</a
        >
    </div>
    <div class="nav-bar--responsive__overlay"></div>
</div>

<div class="nav-bar nav-bar--unresponsive">
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#timeline">Timeline</a>
    <a href="#habilidades">Habilidades</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contacto">Contacto</a>
</div>
