<header>
    <div class="page-header page-header--responsive">
        <div class="page-header__drawing-container">
            <div class="page-header__drawing">
                <picture>
                    <source
                        media="(max-width: 480px)"
                        srcset="
                            ./assets/images/kelpie_mobile.png?as=webp&width=400
                        "
                    />
                    <source
                        media="(min-width: 481px)"
                        srcset="./assets/images/kelpie.jpg?as=webp&width=800"
                    />
                    <img
                        data-src="./assets/images/kelpie.jpg?as=webp"
                        src="./assets/images/kelpie.jpg?as=webp"
                        title="Dibujo de caballo"
                        alt="Dibujo de caballo"
                        width="768"
                        height="450"
                    />
                </picture>
            </div>
            <include src="./views/header/photo_profile.html"></include>
        </div>
        <div class="page-header__name-container">
            <div class="page-header__name">
                <div></div>
                <span>Elena Martín</span>
                <div></div>
            </div>
            <div class="page-header__profession">
                <span>Ilustradora freelance</span>
            </div>
        </div>
    </div>

    <div class="page-header page-header--nonresponsive">
        <div class="page-header__drawing">
            <div class="page-header__name-container">
                <span class="page-header__name">Elena Martín</span>
                <span class="page-header__profession">Ilustradora freelance</span>
            </div>
        </div>
        <div class="page-header__separator"></div>
        <include src="./views/header/photo_profile.html"></include>
    </div>
</header>
