<div class="header__photo">
    <div class="header__profile-background">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="50" />
        </svg>
    </div>
    <div class="header__profile-photo">
        <picture>
            <source
                srcset="./assets/images/woman.jpg?as=webp&width=250"
                type="image/webp"
            />
            <img
                src="./assets/images/woman.jpg?width=250"
                alt="Foto de perfil"
            />
        </picture>
    </div>
</div>
