@use "sass:color";
@import url(https://fonts.googleapis.com/css?family=Righteous);

$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-title: "Righteous";

$breakpoints: (
  "small": 480px,
  "medium": 768px,
  "large": 1024px,
) !default;

$main-color: rgb(157 193 131);
$main-color-background: rgb(237 243 232);
$main-dark-color: rgb(39 48 32);
$main-medium-color: rgb(129 156 107);
$main-light-color: rgb(192 236 160);

$font-contrast-color: rgb(255 255 255);
