@use "sass:color";
@import url(https://fonts.googleapis.com/css?family=Righteous);

$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-title: "Righteous";

$breakpoints: (
  "small": 480px,
  "medium": 768px,
  "large": 1024px,
) !default;

$main-color: #9dc183;
$main-color-background: rgba(157, 193, 131, 0.19);
