@use "sass:color";
@import url(https://fonts.googleapis.com/css?family=Righteous);

$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-title: "Righteous";

$breakpoints: (
  "small": 480px,
  "medium": 768px,
  "large": 1024px,
) !default;

$main-color: #9dc183;
$main-color-background: #edf3e8;
$main-dark-color: #273020;
$main-medium-color: #819c6b;
$main-light-color: #c0eca0;

$font-contrast-color: #fff;
